<a href="https://colab.research.google.com/github/ibrahimcolakgil/Technical-Questionnaire/blob/main/VaccinationStats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [142]:
import pandas as pd
import numpy as np

# **Question 4:** Implement code to fill the missing data.

In [143]:
# We import our data set into a pandas DataFrame to easily work with.
data_set = pd.read_csv("https://www.piworks.net/Upload/Document/Original/country_vaccination_stats.csv")
data_set

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,NaN,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [146]:
countries = data_set.country.unique()#We are extracting the countries.
for i in range(0,60):#Iterating through.
  country_based = data_set.loc[data_set['country'] == countries[i]]#Getting that country related datas.
  val = country_based['daily_vaccinations'].min()#Finding the minimum value of that relevant country.
  if np.isnan(val):#If that country has no valid vaccination number then we should insert 0.
    val = 0
  index = country_based.iloc[0].name#Row number of the first row of that country.
  data_set.iloc[index,2] = val#Insert operation.

In [147]:
#We can see that we inserted minimum values.
data_set.loc[data_set['country'] == 'Kuwait']

    country        date  daily_vaccinations         vaccines
750  Kuwait  12/28/2020                 0.0  Pfizer/BioNTech

In [149]:
data_set.loc[data_set['country'] == 'Argentina']

      country        date  daily_vaccinations   vaccines
0   Argentina  12/29/2020              6483.0  Sputnik V
1   Argentina  12/30/2020             15656.0  Sputnik V
2   Argentina  12/31/2020             15656.0  Sputnik V
3   Argentina    1/1/2021             11070.0  Sputnik V
4   Argentina    1/2/2021              8776.0  Sputnik V
5   Argentina    1/3/2021              7400.0  Sputnik V
6   Argentina    1/4/2021              6483.0  Sputnik V
7   Argentina    1/5/2021              7984.0  Sputnik V
8   Argentina    1/6/2021              8173.0  Sputnik V
9   Argentina    1/7/2021              8363.0  Sputnik V
10  Argentina    1/8/2021             10519.0  Sputnik V
11  Argentina    1/9/2021             11942.0  Sputnik V
12  Argentina   1/10/2021             13365.0  Sputnik V
13  Argentina   1/11/2021             14788.0  Sputnik V
14  Argentina   1/12/2021             14056.0  Sputnik V
15  Argentina   1/13/2021             13323.0  Sputnik V
16  Argentina   1/14/2021             13320.0  Sputnik V
17  Argentina   1/15/2021             13317.0  Sputnik V
18  Argentina   1/16/2021             12971.0  Sputnik V
19  Argentina   1/17/2021             12624.0  Sputnik V
20  Argentina   1/18/2021             12278.0  Sputnik V
21  Argentina   1/19/2021             11932.0  Sputnik V
22  Argentina   1/20/2021             11586.0  Sputnik V
23  Argentina   1/21/2021             11704.0  Sputnik V
24  Argentina   1/22/2021             11263.0  Sputnik V
25  Argentina   1/23/2021             11124.0  Sputnik V
26  Argentina   1/24/2021             10342.0  Sputnik V
27  Argentina   1/25/2021              9046.0  Sputnik V

# **Question 5:** Implement code to list the top-3 countries with highest median daily vaccination numbers by considering missing values imputed version of dataset

In [151]:
#We are creating a dictionary to hold country-median pairs.
medians = {}

In [152]:
for i in range(0,60):#Iterating trough countries.
  country_based = data_set.loc[data_set['country'] == countries[i]]#Getting that country related datas.
  medians[countries[i]] = country_based.median(numeric_only=True).iloc[0]#We are adding country-median pairs into our dictionary.

In [154]:
#We are sorting our dictionary descending by our values then listing the top 3 countries.
sorted_medians = sorted(medians.items(), key=lambda x:x[1], reverse=True)
sorted_medians[0],sorted_medians[1],sorted_medians[2]

(('United States', 378253.0), ('China', 276786.0), ('India', 173922.0))

# **Question 6:**What is the number of total vaccinations done on 1/6/2021 (MM/DD/YYYY) by considering missing values imputed version of dataset?

In [164]:
date_based = data_set.loc[data_set['date'] == '1/6/2021']#Getting that date related datas.
date_based.daily_vaccinations.sum()#Total vaccination on that date.

1485255.0

# **Question 7:**If this list would be a database table, please provide SQL query to fill in the missing daily vaccination numbers with discrete median of country as similar to question a.

```
UPDATE vaccination_table
  SET daily_vaccinations = 0
  WHERE daily_vaccinations is nan
UPDATE vaccination_table
  SET daily_vaccinations = SELECT PERCENTILE_CONT(0.5) WITHIN GROUP(ORDER BY daily_vaccinations) FROM vaccination_table
  WHERE daily_vaccinations is not nan
```